.x-small {
	font-size: map-get($font-sizes, x-small);
	line-height: calc(#{map-get($font-sizes, x-small)} + 4px);
}
.fs-small { font-size: map-get($font-sizes, small); }
.fs-normal {
    font-size: map-get($font-sizes, normal);
    line-height: calc(#{map-get($font-sizes, normal)} + 0.2rem);
}
.fs-big {
    font-size: map-get($font-sizes, big);
    line-height: calc(#{map-get($font-sizes, big)} + 0.3rem);
}
.fs-bigger { font-size: map-get($font-sizes, bigger); }

p { margin: 0; }
hr { margin: 0.5rem 0; }
.pointer { cursor: pointer; }
.nowrap { white-space: nowrap; }

.color-white { color: $white !important; }
.color-black { color: $black !important }
.color-blue  { color: $blue !important }
.color-gray1 { color: $gray1 !important; }
.color-gray2 { color: $gray2 !important; }
.color-gray3 { color: $gray3 !important; }
.color-gray4 { color: $gray4 !important; }
.color-primary { color: $primary-color !important; }
.color-secondary { color: $secondary-color !important; }

.txt-uppercase { text-transform: uppercase; }

.p-medium { padding: 0 3rem };

.b-right { border-right: 1px solid $gray2; }
.b-top { border-top: 1px solid $gray2; }
.b-left { border-left: 1px solid $gray2; }
.b-bottom { border-bottom: 1px solid $gray2; }

.underline { border-bottom: 1px solid; }


a {
	&:hover, &.selected {
		border-bottom: none;
		color: $primary-color;
		font-weight: 600;
		text-decoration: none;
	}
}

.searchbar {
  align-items: center;
  background-color: $gray1;
  border-radius: $border-input;
  display: none;
  width: 30%;

  &.show {
    display: flex;
  }

  span {
    font-size: 1rem;
    margin: 0 12px;
  }
  input {
    background-color: initial;
    border: 0;
    border-left: 1px solid $gray3;
    padding: 7px 15px;
    width: -webkit-fill-available;
  }
}

.table-users {
  ::ng-deep {
    .datatable-footer {
      .datatable-footer-inner{
        .datatable-pager {
          .pager {
            li {
              a {
                text-decoration: noe;
              }
            }
          }
        }
      }

    }

  }
}


