@font-face {
  font-family: 'Calibri-Regular';
  src:  url('../../assets/fonts/Calibri/Calibri.ttf') format('truetype');
}

@font-face {
  	font-family: 'Lato-Bold';
  	src:  url('../../assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  	font-family: 'Lato-Regular';
  	src:  url('../../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  	font-family: 'Poppins-regular';
  	src:  url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  	font-family: 'Poppins-semibold';
  	src:  url('../../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

$title-bold: 'Poppins-semibold';
$title-regular: 'Poppins-regular';

$body-regular: 'Lato-Regular';
$body-bold: 'Lato-Bold';

body {
	color: $body-color;
	font-family: $body-regular;
	font-size: $body-size;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-regular;
	margin-bottom: 0;

	&.normal {
		font-family: $body-regular;
	}
}

.nav-menu {
	li {
		font-family: $title-regular;
		&.selected {
			font-family: $title-bold;
		}
	}
}

button, a { font-family: $title-regular; }
.semibold { font-family: $title-bold; }
.title-regular { font-family: $title-regular; }

.c-regular {
  font-family: 'Calibri-Regular', sans-serif;
}

.p-regular {
  font-family: 'Poppins-regular';
}

.p-semibold {
  font-family: 'Poppins-semibold';
}
