<div id="not-found-container"  class="container-fluid">
  <div class="row mx-0">
    <div class="col-12 circle px-0"></div>
    <div class="col-12 title-container text-center px-0">
      <figure class="col-12 not-found-image mb-lg-0" ></figure>
      <h3 class="p-regular">{{"not-found.page" | translate}}</h3>
    </div>
    <div class="col-12 mt-4 mt-lg-0 not-found-information c-regular text-center">
        <p>{{"not-found.information" | translate}}</p>
    </div>
    <div class="col-12 mt-5 mb-4 mb-lg-5 text-center">
      <div class="not-found-button-container">
        <button class="btn btn-not-found c-regular" (click)="goToDashboard()">
          {{"not-found.button" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
