//-- Buttons

.btn {
	border-radius: $button-border-radius;
	font-size: $body-size;
	height: $button-size;
	padding: 0 1.5rem;
  min-width: content-box;

	&.btn-primary {
		background-color: $blue;
		border-color: $blue;
		color: $base-color;

		&.bordered {
			background-color: $base-color;
			color: $primary-color;
		}
	}

	&.btn-default {
		background-color: $gray1;
		border-color: $gray1;
		color: $gray4;

		&.bordered {
			color: $primary-color;
		}
	}

	&.btn-info {
		background-color: $tertiary-color;
		border-color: $tertiary-color;
		color: $white;

		&.bordered {
			color: $tertiary-color;
		}
	}

	&.btn-icon {
		align-items: center;
		display: flex;
		height: $button-size;
		justify-content: center;
		padding: 0;
		width: $button-size;

		i {
			color: $secondary-color;
		}
	}

  &.btn-not-found {
    background-color: $gray7;
    color: $secondary-color;
    border-radius: 10px;
  }
}
