.card-login {
  .inn-form {
    border-radius: 20px !important;
    div > h4 {
      font-size: 1.25rem;

    }
    div > input {
      border-radius: 10px !important;
    }
    div > label {
      font-size: 0.875rem;
    }
  }
}
