.modal-backdrop {
  background-color: $gray3;
  backdrop-filter: blur(5px);
}

.modal-dialog {
  align-items: center;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  width: 90%;
}

.modal {
  backdrop-filter: blur(10px);
  .modal-content {
    border: 0;
    .button-header {
      display: flex;
      justify-content: flex-end;
      padding: 8px;
      border-bottom: 1px solid $gray6;
      button {
        width: 30px;
        height: 30px;
        display: fe;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gray1;
        border-radius: 10px;
        i {
          font-size: 20px;
          color: $black;
        }
      }
    }
    .modal-header {
      border: 0;
      justify-content: center;
      padding: 1rem 0rem 0;

      i {
        color: $secondary-color;
        font-size: 34px;
      }

      .modal-title {
        font-size: 25px;
        color: $purple-light;
      }

      .icon-message {
        font-size: 2.5rem;

        &.error {
          color: $red;
        }
        &.success {
          color: $green;
        }
      }

      .close {
        position: absolute;
        right: 1rem;
      }
    }
    .modal-body {
      p {
        font-size: 15px;
      }
    }
    .modal-footer {
      justify-content: center;
    }
  }
}
